.grid-container {
  display: grid;
  width: 95%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(300px, auto);
  column-gap: 2%;
  row-gap: 10%;
}

img {
  width: 100%;
}

.results {
  grid-row: 1/ span 2;
}

.main-text {
  grid-column: 2 / span 3;
}